<footer class="site-footer">
  <div class="container footer">
    <div class="footer__brand">
      <a class="brand brand--footer" href="{{ '/' | relative_url }}">
        {% include marks/enso.html id="footer" %}
        <span>{{ site.title }}</span>
      </a>
      <div class="footer__tagline">{{ site.tagline }}</div>
    </div>
    <div class="footer__links">
      <a href="{{ '/' | relative_url }}#how">How it works</a>
      <a href="{{ '/' | relative_url }}#roadmap">Roadmap</a>
      <a href="{{ '/' | relative_url }}#about">About</a>
      <a href="{{ '/' | relative_url }}privacy/">Privacy</a>
    </div>
    <div>© {{ site.time | date: "%Y" }} {{ site.title }}</div>
  </div>
</footer>
